.spyproject
*.pyc
__pycache__
.cache
.ipython
.jupyter
.local
.bash_history
dbextension
.ipynb_checkpoints
workspace.json
workspace.old.json
*.project
*.log
credentials.ini
WBAPI_populate_portal-Copy1.ipynb
